<nav class="navbar navbar-expand-md navbar-default fixed-top bg-light">
  <div class="col-xs-3 col-sm-1">
    <img src="/img/logo.png"
    alt="Profile Picture" class="img-responsive img-rounded"
    style="margin-left: 10px;">
  </div>
  <div class="col-xs-6 col-sm-3">
    <h1><b>Administração RH</b></h1>
  </div>

  <div class="col-xs-6 col-sm-3" [hidden]="!statusLogin"><b>{{emailUsuario}}</b></div>
  <div class="col-xs-6 col-sm-3">
    <button type="submit" class="btn btn-secondary" (click)="cadastroUsuario()">Usuarios</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-secondary" (click)="sair()">Sair</button>
  </div>
</nav>
