<div class="row">
  <div class="col-5 mx-auto">
    <div class="card shadow border">
      <div class="card-body d-flex flex-column align-items-left">
        <h5 class="card-title"><b>Login de Usuário</b></h5>
        <br>
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputEmail1">Codigo de Verificação</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Código">
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputPassword1">Repetir Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repetir Senha">
        </div>
        <br>
        <div class="row">
          <div class="col-3 mx-auto">
            <button type="submit" class="btn btn-secondary">Criar</button>
          </div>
          <div class="col-4 mx-auto">
            <button type="submit" class="btn btn-secondary">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
